@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Open+Sans+Condensed:300');

body,html{
	height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
.bg-home {
	background-image: url(./My_web_page_images/road_fog_mountains.jpg);
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*vvvbackground for about pagevvv*/
.bg-about {
	background-image: url(./My_web_page_images/leather_wood.jpg);
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*^^^background for about page^^^*/

.bg-contact {
	background-image: url(./My_web_page_images/sign_sociality.jpg);
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
	float: right;
	margin: 0px;
	overflow: hidden;
	display: inline-block;
	padding: 0px;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
	text-decoration: none;
	margin: auto;
	font-size: 20px;
	color: #e0ebeb;
	display: inline-block;
	text-align: center;
    padding: 16px;
 }
li {
	float: left;
}

.main {
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.main-about {
	position: fixed;
  	top: 40%;
  	left: 52%;
  	transform: translate(-80%, -80%);
}

.main-contact {
	position: fixed;
  	top: 80%;
  	left: 80%;
  	transform: translate(-50%, -50%);

}

h1 {
	text-align: center;
	font-size:80px;
	margin: 0;
	padding: 0;

}
.main-about h1 {
	color: #e0ebeb;
	font-size: 30px;

}
.main-about p {
	color: #e0ebeb;
	font-size: 20px;
}
p {
	text-align: center;
	margin: 0;
	padding: 0;
}

.button {
	background-color: #e0ebeb;
	border-radius: 4px;
  	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	padding: 10px;
  	width: 200px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
  	text-decoration: none;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a {
	color: #1a1a1a;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-right: 80px;


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus {
  background: red;
  color: red;
}
.main-contact {
  position: fixed;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);

}
.main-contact a {
	text-decoration: none;
	color:#1a1a1a;
}
.video-container {
  position: fixed;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.video-container h2 {
  color: #e0ebeb;
  text-align: center;
}



.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
 